[Unit]
Description=Llama.cpp Server for Kimi Model
After=network.target

[Service]
Type=simple
ExecStart=/home/nunix/llama.cpp/build-vulkan/bin/llama-server -m /home/nunix/models/kimi-k2.6-26B-A4B-it-UD-Q4_K_M.gguf -c 16384 -ngl 99 -b 512 -ub 512 -t 8 -fa on --port 8001 -ctk q8_0 -ctv q8_0 --cache-reuse 256 --reasoning-budget 128 --reasoning-budget-message "Thought process truncated. Proceeding to answer." --cache-ram 512
Restart=always
RestartSec=3
StandardOutput=append:/tmp/kimi_server.log
StandardError=append:/tmp/kimi_server.log

[Install]
WantedBy=default.target
